<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufjf.dcc196.trb1.arthur_e_gustavo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddEditParticipantActivity"
            android:label="@string/cad_participant" />
        <activity
            android:name=".AddEditBookActivity"
            android:label="@string/cad_book" />
        <activity
            android:name=".AddBookingActivity"
            android:label="@string/cad_booking" />
        <activity
            android:name=".DetailsParticipantActivity"
            android:label="@string/det_participant" />
    </application>

</manifest>